# Dependency directories
node_modules/
model/
mlModel/

# Environment variables file (if you use .env files)
.env

# Log files
*.log

# IDE files and directories
.idea/
.vscode/

# User-specific files and directories
.DS_Store

#
gcs-cred.json
vbg_bangkit.jpg
./services/load_model.js